<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LINUX mini project</h1>
    <section class="get">
        <h3>User</h3>
        <div>
            {{# each items }}
                <article class="item">
                    <div>Name:    {{ this.name }}</div>
                    <div>Age:     {{ this.age }}</div>
                    <div>Email:   {{ this.email}}</div>
                    <div>Phone:   {{ this.phone }}</div>
                    <div>Sex:     {{ this.sex}}</div>
                    <div>City:    {{ this.city }}</div>              
                </article>
            {{/each}}
        </div>
    </section>
</body>
</html>
