<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Results</title>
      <link rel="stylesheet" href="/stylesheets/style.css">

      <style>
        .result_pane {
            margin: 10px 0;
            padding: 5px;
            background: #818f89;
            border: 1px solid white;
        }
      </style>
  </head>
  <body bgcolor=#050121>
    <h1><font color="grey">Results</font></h1>
    <section class="get">
        <div>
            {{# each items }}
                <article class="result_pane">
                    <div><b>Name:</b>    {{ this.name }}</div>
                    <div><b>Age:</b>     {{ this.age }}</div>
                    <div><b>Email:</b>   {{ this.email}}</div>
                    <div><b>Phone:</b>   {{ this.phone }}</div>
                    <div><b>Sex:</b>     {{ this.sex}}</div>
                    <div><b>City:</b>    {{ this.city }}</div>
                </article>
            {{/each}}
        </div>
    </section>
</body>
</html>
